.el-input-group__append{
    background: #409EFF;
    color: #fff;
    border: none;
}
                
.el-table .table-head-th{
        background-color:#f7f7f7;
        color: #333;
        padding: 0;
}
